body {
                background-color: #f8f9fa;
            }
            #sidebar {
                height: 100vh;
            }
            .navbar-brand img {
                margin-right: 10px;
            }
            body {
                background-color: #f5f6fa;
            }
            
            .card {
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
            
            .nav-tabs .nav-link {
                border-radius: 0;
                color: #495057;
            }
            
            .nav-tabs .nav-link.active {
                background-color: #0d6efd;
                color: #fff;
            }
            
            .progress {
                height: 20px;
                border-radius: 10px;
            }
                  